@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>
@* The ActionLink() method is called on @Html. It takes two required parameters as well as an optional third parameter.

  The first parameter "See all items" is the display text for the link. In other words, a user will see a link that says
  "See all items".

  The second parameter "Index" is the target action in the controller. This means that when a user clicks on the link,
  they will be routed to the Index() action in the ItemsController by default.

  We will also have to add the optional third parameter since we need to route to another controller. In this case, we
  want to route to the Index() action of the ItemsController. Note that our third parameter is the name of the controller
  without Controller appended to it. *@

<p>@Html.ActionLink("Add new item", "Create")</p>